

/* ==========================================================================
   Alex's custom styles
   ========================================================================== */
/* ----- Omnipotent -----*/
* {letter-spacing: 1.5px;}

/* ----- Parallax -----*/

@-webkit-keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to { 
		left: -10000px;
		top: -2000px;
	}
}

#background {
	background: black url(../img/content/header/backgrounddgreen.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 200s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#midground {
	background: url(../img/content/header/midground2.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url(../img/content/header/foreground2.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.stars {
	z-index:-20;
	opacity:0.01;
	-webkit-transition:all 800ms;
	-o-transition:all 800ms;
	-moz-transition:all 800ms;
	transition:all 800ms;

}

.stars:hover {
	opacity:.35;
	-webkit-transition:all 800ms;
	-o-transition:all 800ms;
	-moz-transition:all 800ms;
	transition:all 800ms;
}
/* ----- Type --------------*/

.cta-list h2 {text-transform: uppercase;}

@font-face {
    font-family: 'bariol_boldbold_italic';
    src: url('../fonts/bariol_bold_italic-webfont.eot');
    src: url('../fonts/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold_italic-webfont.svg#bariol_boldbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariollight_italic';
    src: url('../fonts/bariol_light_italic-webfont.eot');
    src: url('../fonts/bariol_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light_italic-webfont.svg#bariollight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariolthin_italic';
    src: url('../fonts/bariol_thin_italic-webfont.eot');
    src: url('../fonts/bariol_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_thin_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_thin_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_thin_italic-webfont.svg#bariolthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariol_boldbold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariol_lightlight';
    src: url('../fonts/bariol_light-webfont.eot');
    src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light-webfont.woff') format('woff'),
         url('../fonts/bariol_light-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light-webfont.svg#bariol_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bariolthin';
    src: url('../fonts/bariol_thin-webfont.eot');
    src: url('../fonts/bariol_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_thin-webfont.woff') format('woff'),
         url('../fonts/bariol_thin-webfont.ttf') format('truetype'),
         url('../fonts/bariol_thin-webfont.svg#bariolthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ----- Image Desaturate ------ */
img.desaturate {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    filter: gray;
    -webkit-filter: grayscale(1);
}

img.desaturate:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}


/* ----- Misc Styles ------ */
.pad30
.cta-list a p {
	margin-right: 20px;
	margin-left:20px;
}
strongbtn {
	font-family: 'bariol_boldbold' sans-serif;
}
.navbar a span {margin-top:7.5px; left:86px; top:0px; position:absolute;}
.navbar-collapse {
	padding-bottom:15px;
}
.col-lg-4 h3 {
	font-family: 'bariol_boldbold' sans-serif;
	letter-spacing: 2px;
}
.contact {
	font-size: 9pt;
}
.col-lg-5 {
	padding-right:0px;
	width:38.666667%;
}
.pad-10 {
	padding-top:10px;
	padding-bottom:10px;
}
.pad-40 {
	padding-top:40px;
	padding-bottom:40px;
}
.padlr-40 {
	padding-left:40px;
	padding-right:40px;
}
.padlr-60 {
	padding-left:60px;
	padding-right:60px;
}
.mrg-40 {
	margin-top:40px;
	margin-bottom:40px;
}
.bg-dark {
	background:#444444;
	color:#ffffff;
}
.ease {
	 -webkit-transition: all 800ms;
  -o-transition: all 800ms;
  -moz-transition: all 800ms;
  transition: all 800ms;
}
/* ----- Template Styles ----- */

.brand {
	margin: 20px auto;
}
.brand img {
	display:block;margin:0 auto;
}

/* Footer */
.col-lg-7 body{	
	font-family: 'bariol_lightlight' sans-serif;
}
.footer-bottom {
	background:#555555;
	text-align:center;
}
.footer-bottom a {
	color:#222222;
	text-decoration:none;
}
.footer-bottom a:hover {
	color:#C5D92D;
}

/* ----- Navigation ----- */
 .navbar ul {
	display:block;
	margin: 35px auto 0;
	font-family: 'bariol_boldbold' sans-serif;
 }

/* ----- Home Page Styles ----- */

/*Featured Products/Features Page*/

.proto img {width:250px;}

/*Featured */

.product img {margin-left:8px; width:250px; opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */}

.about-soc img {width:64px; padding:0px 4px; opacity:0.5;
filter:alpha(opacity=50); /* For IE8 and earlier */}

.btn p a {padding-bottom: 20px;}

.col-lg-6 h1 {font-size: 12pt;}
.col-lg-12 span {font-size: 16pt;}
.col-lg-6 h4 {font-size: 18pt;}

.green {
	background:#C5D92D;
}

.gray {
	background:#444444;
}

.featured {
	background:#C5D92D;
	position:relative;
	overflow:hidden;
	max-height:1000px;
}
.featured .container {
	background: url(../img/content/header/home-header3.png) no-repeat center bottom;
	height: 650px;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

.featured-about {
	background:#C5D92D;
	position:relative;
	overflow:hidden;
	max-height:auto;
}

.featured-about .container {
	height: auto;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

img.featured-bg-about {
	z-index:1;
	width:100%;
	-webkit-transition:all 800ms;
	-o-transition:all 800ms;
	-moz-transition:all 800ms;
	transition:all 800ms;
}


.featured-about:hover img.featured-bg {

}

.featured-text-about {
	margin:0;
	padding:50px 0 0 0;
	text-align:left;
	font-family: 'bariol_boldbold' sans-serif;
}
.featured-text-about h1 {
	text-align: left;
	font-size: 12pt;
	margin-bottom: 40px;
	font-family: 'bariol_lightlight' sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}
.featured-text-about h2 {
	font-size: 65px;
	font-weight: 700;
	font-family: 'bariol_boldbold' sans-serif;
}

img.featured-bg {
	z-index:1;
	width:100%;
	-webkit-transition:all 800ms;
	-o-transition:all 800ms;
	-moz-transition:all 800ms;
	transition:all 800ms;
}


.featured:hover img.featured-bg {

}

.featured-text {
	margin:0;
	padding:50px 0 0 0;
	text-align:center;
	font-family: 'bariol_boldbold' sans-serif;
}

.featured-text h1 {
	font-size: 28px;
	margin-bottom: 40px;
	font-family: 'bariol_lightlight' sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	margin-right:80px;
	margin-left: 80px;
}
.featured-text h2 {
	font-size: 65px;
	font-weight: 700;
	font-family: 'bariol_boldbold' sans-serif;
}

/* Header */

.navbar-header img {
	width:100%;
}

/* Calls to Action About */

.about-con {width:100%; text-align: center; margin-bottom: 45px;}
.about-con img {width:30px; margin: 0 auto; padding:0px 2px; opacity:0.5;
filter:alpha(opacity=50); /* For IE8 and earlier */}

.cta-list-about {
	background-color: #444444;
	background-size: 100%;
	color: white;
	padding: 40px 0;
	min-height: 465px
}
.cta-list-about a, .cta-list a:hover {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all ease .3s;
}
.cta-list-about .item {}
.cta-img-about img {
	padding-top: 50px;
	width:119px;
	display:block;
	margin:0 auto;
	-webkit-transition: all 800ms;
	-o-transition: all 800ms;
	-moz-transition: all 800ms;
	transition: all 800ms;
	max-width:100%;
	z-index: 1;
}
.cta-img-about a img {
	-webkit-transition: all 800ms;
	-o-transition: all 800ms;
	-moz-transition: all 800ms;
	transition: all 800ms;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	width:50%;
}

.cta-img-about a img:hover {
	-webkit-transition: all 800ms;
	-o-transition: all 800ms;
	-moz-transition: all 800ms;
	transition: all 800ms;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}

.cta-list-about a:hover {
	color:#C5D92D;
}
.cta-list-about a h2 {
	color:#ccc;
	font-family: 'bariol_boldbold' sans-serif;
	text-align: center;
}
.cta-list-about a:hover h2 {
	color:#ffffff;
}
.cta-list-about a {
	color:#ffffff;
	font-family: 'bariol_lightlight' sans-serif;
	text-decoration:none;
}

.cta-list-about a p {
	text-align: center;
}

/* Calls to Action */

.cta-list {
	background-color: #444444;
	background-size: 100%;
	color: white;
	padding: 70px 0;
}
.cta-list a, .cta-list a:hover {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all ease .3s;
}
.cta-list .item {}
.cta-list .item img {
	display:block;
	margin:0 auto;
	-webkit-transition: all 800ms;
	-o-transition: all 800ms;
	-moz-transition: all 800ms;
	transition: all 800ms;
	max-width:100%;
	z-index: 1;
}
.cta-img a img {
	-webkit-transition: all 800ms;
	-o-transition: all 800ms;
	-moz-transition: all 800ms;
	transition: all 800ms;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}

.cta-img a img:hover {
	-webkit-transition: all 800ms;
	-o-transition: all 800ms;
	-moz-transition: all 800ms;
	transition: all 800ms;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}

.cta-list a:hover {
	color:#C5D92D;
}
.cta-list a h2 {
	color:#ccc;
	font-family: 'bariol_boldbold' sans-serif;
	text-align:  center;
}
.cta-list a:hover h2 {
	color:#ffffff;
}
.cta-list a {
	color:#ffffff;
	font-family: 'bariol_lightlight' sans-serif;
	text-decoration:none;
}


/* ----------
Footer
---------- */

/* Social */

.follow {margin:32px 0 0 0;}
.social {
	margin: 0 -10px 40px;
}
.social a img {
	width:90px;
	float:left;
	padding: 5px 5px;
	 zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
}
.social a img:hover {
	 zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -ms-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
}




/*----- Media Querys -----*/

@media (max-width: 1200px) and (min-width: 992px) { /*plus sign*/

.navbar a span {left:80px;}

}


@media (max-width: 2000px) and (min-width: 1201px) { /*XL Desktop*/
	.product img { margin-left:15%;}

	.full-cta {
	background: #C5D92D;
	}
	.cta-list a p {
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
}
.container {
max-width: 3000px;
}
}
@media (max-width: 1200px) and (min-width: 999px) { /*Desktop*/

		.navbar {
	margin-bottom:20px;
}

.social img a {width:75px;}
.cta-list a p {
	margin-right: 0px;
	margin-left: 0px;
}

.full-cta {
background: #C5D92D;
}

.navbar img {
	margin-top:20px;
}
}

@media (min-width:600px) and (max-width:1200px) { /*Tween Tablet & Desktop*/
	.cta-list p.cta-img {
		float:left;
		padding-left: 20px;
}
}
@media (max-width: 1199px) and (min-width: 998px) { /*this is to center the 3 circle text on dektop/tablet*/

.margin_10 { /*this is to center the 3 circle text on tablet*/
	padding: 30px;
}

.cta-list a p {text-align: center;}

}

@media (max-width: 998px) and (min-width: 591px) { /*Tablet*/
	.featured-text h1{
		font-size:125%;
	}
	.featured-text h2{
		font-size:225%;
	}

	.navbar {
	margin-bottom:20px;
}

.cta-list a p {text-align: center;}

.margin_10 { /*this is to center the 3 circle text on tablet*/
	padding: 30px;
}

.navbar img {
	margin-top:20px;

}

.full-cta {
	background: #C5D92D;
}
}


@media (min-width:767px) and (max-width:991px) { /*featured product about page*/
.product img {position:absolute; margin-left: -24px;}
.navbar a span {margin-top:7.5px; left:80px; top:0px; position:absolute;}
.cta-list a h2 {
color: #CCC;
font-family: 'bariol_boldbold' sans-serif;
margin-left: 19px;}
}


@media (min-width:591px) and (max-width:605px) { /*Social Icons*/
.social img {width:75px;}
}

@media (min-width:401px) and (max-width:590px) { /*Tween Phone & Tablet*/
	.featured .container {background-image: none;}
.cta-list h2 {text-align: center}
.cta-list h1 {margin-left: 20%}
.footer-bottom {font-size: 7.5pt;}

	.featured-text h1 {
		font-size: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.featured-text h2 {
		font-size: 200%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.cta-list .item img {
		width:40%;
}
.social img {width:22%;}
.full-cta {
	background: #C5D92D;
	}
}


@media (min-width:200px) and (max-width:400px) { /*Phone size*/
	.featured .container {background-image: none;}
.full-cta {
	background: #C5D92D;
	}	
.product img {visibility:hidden;}
.featured-text-about h1 {
	text-align: center;
}
.featured-text-about {
	text-align:center;
}	
.cta-list h2 {text-align: center}
.cta-list h1 {margin-left: 20%}
.footer-bottom {font-size: 8pt; text-transform: lowercase;}

	.featured-text h1 {
		margin-bottom: 30px;
		font-size: 80%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.featured-text h2 {
		margin-top:-35px;
		margin-bottom: 30px;
		font-size: 150%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.cta-list .item img {
		width:40%;
}

.social span a {display: block; width: 10px}

strong {
  font-size: 15px;
  text-transform: uppercase;
}
.featured {
	height: 475px
}

.social img a {width:22%;}

.navbar-brand img{
 width:50%;
}

.navbar-toggle {
zoom:0.68;
margin-bottom: 5px;
}

.full-cta h3 {
		margin-left: 25px;
		margin-right: 25px;
		font-size: 120%;
			}

.full-cta h2 {
	    margin-left: 25px;
		margin-right: 25px;
		font-size: 220%;
			}

.footer-bottom a {color: #f2f2f2;}			

}
@media (min-width: 100px) and (max-width: 760px){
.featured .container {background-image: none;} /*Removes Charging Ports Img*/ 
.product img {visibility: visible;}
.full-cta {
background: #C5D92D;
}

.hide_mob {display:none;}

.cta-list a p {text-align: center;}
	}

@media (min-width: 100px) and (max-width: 330px){
.product img {margin-right: 30px}
	}

